@tailwind base;
@tailwind components;
@tailwind utilities;

.physicbox-container {
  /* margin: 2rem 5rem; */
  height: 100vh;
  /* border: 2px solid #00000020; */
  /* width: 100vw; */
  /* border-radius: 30% !important; */
}

.app {
  margin: 0;
  height: 100vh;
}

html {
  background-color: #c8c8c8;
}